<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
    <script src="../js/jquery-3.6.0.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>

    <title>DearMe | TBZ Sticker</title>
    <!--stylesheet-->
    <link rel="stylesheet" href="../../styling/style_merch.css">
    <!--fav-icon-->
    <link rel="shortcut icon" href="../../images/Logo/DearMe-Fav-Logo.png">
    <!--using-fontAwesome-->
    <script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="style_album.css">
</head>
<body>
    <%- include('../../layouts/navbar.ejs'); %>
    <div class="container">
        <div class="d-inline-flex">
            <div class="satu">
                <img src="../../images/unoff merch/stiker tbz.jpeg" width="95%">
                <br><br>
                <table class="table">
                    <thead>
                        <th scope="row">Warranty & Support</th>
                    </thead>
                </table>
                <table>
                    <tr>
                        <td>Please contact the seller directly for warranty information for this product. 
                            You may also be able to find warranty information on the manufacturer’s website.</td>
                    </tr>
                </table>
                <table class="table">
                    <thead>
                        <th scope="row">Feedback</th>
                    </thead>
                </table>
                <table>
                    <tr>
                        <td>Would you like to tell us about a lower price?</td>
                    </tr>
                </table>
                <!-- <img src="https://i.imgur.com/c6Xsxgh.jpg" width="95%">
                <img src="https://i.imgur.com/7DGCvKo.jpg" width="95%"> -->
                <!-- <br><br>
                <table class="table">
                    <thead>
                        <th scope="row">Warranty & Support</th>
                    </thead>
                </table>
                <table>
                    <tr>
                        <td>Please contact the seller directly for warranty information for this product. 
                            You may also be able to find warranty information on the manufacturer’s website.</td>
                    </tr>
                </table>
                <table class="table">
                    <thead>
                        <th scope="row">Feedback</th>
                    </thead>
                </table>
                <table>
                    <tr>
                        <td>Would you like to tell us about a lower price?</td>
                    </tr>
                </table> -->
            </div>
            <div class="dua">
              <h5>THE BOYZ Thrill Ride Sticker Set</h5>
              <small>
                <i class="fas fa-star" style="color: goldenrod;"></i>
                <i class="fas fa-star" style="color: goldenrod;"></i>
                <i class="fas fa-star" style="color: goldenrod;"></i>
                <i class="fas fa-star" style="color: goldenrod;"></i>
                <i class="fas fa-star" style="color: goldenrod;"></i>
              </small>
              <br>
              <small>Price : <span class="h5">Rp. 35,000</span></small>
              <br><br>
              <!-- <table class="table">
                  <thead>
                      <tr>
                          <th scope="row">Shipping & Fee Details</th>
                      </tr>
                </table>
                <table>
                    <tr>
                        <td>Price</td>
                        <td>$7.43</td>
                    </tr>
                    <tr>
                      <td>Global Shipping</td>
                      <td>$6.28</td>
                  </tr>
                  <tr>
                      <td>Estimated Import Fees Deposit</td>
                      <td>$4.38</td>
                  </tr>
                </table>
                <table class="table"> 
                    <tr>
                        <th scope="row">Total</th>
                        <td>$18.09</td>
                    </tr>
                  </thead>
              </table> -->
              <br>
              <h4>Product Specification</h4>
              <table class="table">
                  <tr>
                      <td class="table-secondary">Negara Asal</td>
                      <td class="table-light">Lokal</td>
                  </tr>
                  <tr>
                    <td class="table-secondary">Karakter</td>
                    <td class="table-light">THE BOYZ</td>
                </tr>
                <tr>
                    <td class="table-secondary">Stok</td>
                    <td class="table-light">52</td>
                </tr>
                <tr>
                    <td class="table-secondary">Dikirim Dari</td>
                    <td class="table-light">KOTA DEPOK - BOJONGSARI, JAWA BARAT, ID</td>
                </tr>
                <tr>
                    <td class="table-secondary">Country of manufacture</td>
                    <td class="table-light">Indonesia</td>
                </tr>
                <tr>
                    <td class="table-secondary">Quality assurance standards</td>
                    <td class="table-light">in accordance with relevant laws and the criteria for 
                        the settlement of consumer disputes
                    </td>
                </tr>
              </table>
              <table class="table">
                  <tr>
                    <td class="table-secondary">ASIN</td>
                    <td class="table-light">B0983G4X2B</td>
                  </tr>
                  <tr>
                    <td class="table-secondary">Customer Reviews</td>
                    <td class="table-light">
                        <small>
                            <i class="fas fa-star" style="color: goldenrod;"></i>
                            <i class="fas fa-star" style="color: goldenrod;"></i>
                            <i class="fas fa-star" style="color: goldenrod;"></i>
                            <i class="fas fa-star" style="color: goldenrod;"></i>
                            <i class="fas fa-star" style="color: goldenrod;"></i>
                          </small>
                    </td>
                  </tr>
                  <tr>
                    <td class="table-secondary">Date First Available</td>
                    <td class="table-light">January 30, 2021</td>
                  </tr>

              </table>
              
            </div>
            <div class="tiga">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Product Details</h5>
                      <p class="card-text">
                          <ul>
                              <li>
                                  <small>
                                    don't you want to collect and decorate your stuff with this The Boyz Thrill 
                                    Ride tincase sticker keyring art collection. you can stick it to your notebook,
                                    binder, etc to make it looks cuter ^^
                                  </small>
                                </li>
                                <li>
                                    <small>
                                        details:
                                        <ul>
                                            <li>tincase with 13 die cut stickers✨</li>
                                            <li>waterproof</li>
                                            <li>tincase size: 6x9cm</li>
                                            <li>sticker size: approx. 7cm (bigger than kiss cut sticker sheet size:D)</li>
                                            <li>keyring size: 6cm</li>
                                            <li>art print size: 10.5x14.8cm</li>
                                            <li>material: art carton 360</li>
                                        </ul>
                                    </small>
                                </li>
                                <li>
                                    <small>
                                        notes:
                                        <ul>
                                            <li>the color might be slightly different from the picture above, 
                                                but I took it with my phone camera without using any filter!</li>
                                            <li>sorry for a little measurement error, it was measured manually with ruller</li>
                                        </ul>
                                    </small>
                                </li>
                                <li>
                                    <small>
                                        design by: kulkit.id
                                        <br>please do not use or copy my design without my permission!
                                    </small>
                                </li>
                          </ul>
                      </p>
                    </div>
                  </div>

                
            </div>
          </div>
        </div>
    </div>
    <%- include('../../layouts/footer.ejs'); %>
</body>
</html>